@import "mixins";
@import "variables";
// Sass mixins libraries
@import "bourbon/bourbon";
@import "neat/neat";
// Base styles -- normalizes styles across browsers.
// Alter border-sizing styles to prevent issues in P2P HTML stories
@import "normalize";
@import "fonts";

$title-pad: 0.25em;
$textPad: .3em;
$captionPad: .4em;

body {
	color: $offblack;
	font-size: 14px; // body-level font size for "em"-scaled designs
	background-color: $offblack;
	@media(min-width: 500px){
		font-size: 16px;
	}
	@media(min-width: 700px){
		font-size: 18px;
	}
}
h1 {
	font-family: $montserrat;
}
p,a {
	font-family: $ptserif;
	&.byline {
		a {
			font-weight: bold;
		}
	}
	&.disclaimer {
		text-align: center;
		padding: 0 1em;
		font-weight: bold;
	}
}
a {
	color: $goldenrod;
	text-decoration: none;
}

.container {
	margin-top: 50px; // Pushes below topnav
}
.title {
	width: 100%;
	height: 0;
	padding-top: 65.1%;
	background-image: url('../images/topper768.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	@media(min-width: 700px) {
		background-image: url('../images/topper1600.jpg');
		padding-top: 56.65%;
	}
	@media(min-width: 1920px) {
		background-image: url('../images/topper2560.jpg');
	}
}
.sectionAnchor {
	content: "";
	width: 100%;
	max-width: 700px;
	// margin: 0 auto;
	// padding: 6em 0;
	margin: 3em auto;
	padding-bottom: 3em;
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	// background-size: 200%;
	// background-image: url('../images/stripes1.jpg');
	z-index: 2;
}
.artist {
	position: relative;
	// margin-top: 10em;
	// padding-bottom: 3em;
	background-color: $offblack;
	background-position: center top;
	background-repeat: repeat;
	background-size: auto;
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: linear-gradient($offblack, rgba(24,24,24,0), $offblack);
	}
	.artistWrapper {
		max-width: 700px;
		margin: 0 auto;
		padding: .5em 0;
		position: relative;
		background-color: white;
		z-index: 2;
	}
	&--intro {
		i {
			margin-right: .8em;
			font-size: 1.5em;
			cursor: pointer;
			&:hover {
				opacity: .7;
			}
		}
		.artist__text {
			color: white;
		}
	}
	h2 {
		text-transform: uppercase;
		text-align: center;
		font-size: 2em;
	}
	&__item {
		position: relative;
		z-index: 2;
	}
	&__text {
		width: 90%;
		max-width: 700px;
		margin: 2.5em auto;
		padding: .5em;
		color: $offblack;
		line-height: 1.7em;
		p {
			position: relative;
			margin: 0 auto 1em auto;
			&:last-child {
				margin-bottom: 0;
			}
			span {
				font-weight: bold;
			}
		}
		&--credits {
			margin: 5em auto 0 auto;
			text-align: right;
			p {
				color: white;
				margin: 0 auto;
				line-height: 1.4em;
			}
		}
	}
	&__pullQuote {
		p {
			width: 80%;
			max-width: 500px;
			text-align: center;
			font-size: 1.7em;
			margin: 0 auto;
			span {
			  display: inline;
			  color: white;
			  background: $offblack;
			  box-shadow: .3em 0 0 $offblack, -.3em 0 0 $offblack;
			}
			&.credit {
				margin-top: .5em;
				font-size: 1em;
				text-transform: uppercase;
			}
		}
	}
	&__photo {
		max-width: 700px;
		margin: 0 auto;
		position: relative;
		text-align: center;
		&--double {
		}
		&__item {
			display: inline-block;
			width: 100%;
			position: relative;
			text-align: center;
			.stripes {
				width: 100%;
				height: 60%;
				position: absolute;
				top: 20%;
				left: 0;
				background-position: center;
				background-repeat: no-repeat;
				background-size: 100%;
				background-image: url('../images/stripes1.jpg');
				z-index: 0;
			}
			img {
				display: inline;
				width: 90%;
				margin: 0 auto;
				position: relative;
				vertical-align: top;
				z-index: 1;
			}
			&--first {
			}
			&--right {
			}
		}
		.caption {
			display: inline-block;
			width: 80%;
			margin: 0 auto;
			padding: .3em .5em;
			// background-color: $offblack;
			// color: white;
			font-size: .8em;
			text-align: left;
			line-height: 1.7em;
		}
	}
	&__video {
		max-width: 700px;
		margin: 0 auto;
		.iframeWrapper {
			position: relative;
			padding-bottom: 56.25%;
			height: 0;
			background-image: url('../images/stripes0.jpg');
			background-size: 200%;
			background-position: 70% -20%;
			background-repeat: no-repeat;
			vertical-align: top;
			overflow: hidden;
		}
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding: .8em .8em .6em .8em;
		}
		&--intro {
			.iframeWrapper {
				background-image: none;
			}
			iframe {
				padding: 0;
			}
		}
	}
	&__soundcloud {
		max-width: 700px;
		margin: 0 auto;
		.iframeWrapper {
			position: relative;
			// background-size: 100%;
			background-image: url('../images/stripes1.jpg');
			background-position: center;
			background-repeat: no-repeat;
		}
		iframe {
			padding: .5em 0;
			vertical-align: top;
		}
	}
	@media(min-width: 700px) {
		&--0 {
			background-image: url('../images/bg0.png');
		}
		&--1 {
			background-image: url('../images/bg1.png');
		}
		&--2 {
			background-image: url('../images/bg2.png');
		}
		&--3 {
			background-image: url('../images/bg3.png');
		}
		&--4 {
			background-image: url('../images/bg4.png');
		}
		&--5 {
			background-image: url('../images/bg5.png');
		}
		&--6 {
			background-image: url('../images/bg6.png');
		}
		&--7 {
			background-image: url('../images/bg7.png');
		}
		&--8 {
			background-image: url('../images/bg8.png');
		}
		&--9 {
			background-image: url('../images/bg9.png');
		}
	}
}

.artistNavWrapper {
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
	position: fixed;
	top: 30px;
	left: 0;
	z-index: 9;
	@media(min-width: 700px){
		left: 50%;
		margin-left: -365px;
	}
	opacity: 0;
	@include transition(opacity .5s ease);
	&.visible {
		opacity: 1;
	}
}
.artistNav {
	position: relative;
	max-width: 420px;
	height: 2em;
	margin-left: .7em;
	padding: .3em 0;
	background-color: $offblack;
	color: white;
	font-size: 1.5em;
	font-family: $montserrat;
	text-transform: uppercase;
	border-bottom: .15em solid white;
	@media(min-width: 360px) {
		font-size: 1.7em;
	}
	&__num {
		position: absolute;
		top: .35em;
		left: -.7em;
		width: 2.7em;
		height: 1.3em;
		padding: 0 .3em 0 .1em;
		background-color: white;
		color: $offblack;
		font-weight: bold;
		text-align: right;
		border-left: .15em solid $offblack;
		.floatLeft {
			float: left;
		}
		.floatRight {
			float: right;
		}
		.headPhones {
			color: $gray;
			cursor: pointer;
			&.active {
				color: $offblack;
				&:hover {
					color: $gray;
				}
			}
		}
	}
	&__dropdown {
		position: absolute;
		top: .35em;
		left: 2em;
		height: 1em;
		padding: .3em;
		padding-top: 0;
		background-color: $offblack;
		color: white;
		overflow: hidden;
		cursor: pointer;
		&__currItem {
			margin-bottom: .5em;
		}
		&__item {
			font-weight: normal;
			// cursor: pointer;
			&:hover, &.activeArtist {
				background-color: white;
				color: $offblack;
			}
		}
		&.active {
			height: auto;
		}
	}
	&__arrow {
		position: absolute;
		top: .35em;
		right: .5em;
		cursor: pointer;
	}
}
/* Leaderboard */
#leaderboard {
	width: 728px;
	height: 90px;
	background-color: #222222;
	margin: 10px auto;
	margin-top: 2em;
	text-align: center;
	@media (max-width: 730px){
		display: none;
	}
}